body {
  background-color: #F8EDF1;
}

h1 {
  color: #D53964;
  font-size: 300%;
}

nav {
  padding: 50px;
  text-align: center;
}

nav  li {
  list-style-type: none;
  font-size: 150%;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  color: white;
}

li a {
  display: block;
  /* TODO: Change link color */
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.container {
  background-color: #F2728C;
  border-radius: 5px;
}
